
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>data for courses 1</td>
            <td>data for courses 2</td>
            <td>data for courses 3</td>
        </tr>
        <tr>
            <td>data for courses 1</td>
            <td>data for courses 2</td>
            <td>data for courses 3</td>
        </tr>
        <tr>
            <td>data for courses 1</td>
            <td>data for courses 2</td>
            <td>data for courses 3</td>
        </tr>
        <tr>
            <td>data for courses 1</td>
            <td>data for courses 2</td>
            <td>data for courses 3</td>
        </tr>
        <tr>
            <td>data for courses 1</td>
            <td>data for courses 2</td>
            <td>data for courses 3</td>
        </tr>
        <tr>
            <td>data for courses 1</td>
            <td>data for courses 2</td>
            <td>data for courses 3</td>
        </tr>
        <tr>
            <td>data for courses 1</td>
            <td>data for courses 2</td>
            <td>data for courses 3</td>
        </tr>
        <tr>
            <td>data for courses 1</td>
            <td>data for courses 2</td>
            <td>data for courses 3</td>
        </tr>
        <tr>
            <td>data for courses 1</td>
            <td>data for courses 2</td>
            <td>data for courses 3</td>
        </tr>
        <tr>
            <td>data for courses 1</td>
            <td>data for courses 2</td>
            <td>data for courses 3</td>
        </tr>
    </tbody>
</table>