<!-- <h3>list of courses</h3>   -->
<div class="container">
    <div class="row mt-5">
        <div class="col-6 mx-auto">
            <img [src]="image" alt="">

            <input class="form-control mt-2" type="text" [(ngModel)]="myCourse">
            <button (click)="addCourse()" class="btn btn-block mt-2 btn-danger">
                <i class="fa fa-send"></i> Add
            </button>

            <ul class="list-group">
                <li *ngFor="let course of courses" class="list-group-item">
                    {{ course }}
                </li>
            </ul>
        </div>
    </div>
</div>