
<app-navbar></app-navbar>

<div class="container">
  <router-outlet></router-outlet>
<!-- 
  <div class="col-md-6 mx-auto">
    <app-panel>
      <h1 class="card-title header">Salam mes chers developpeurs</h1>
      <div class="card-text content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nobis aliquam distinctio inventore molestiae officiis dicta reprehenderit quam error. Quaerat!
      </div>
  
      <img src="https://picsum.photos/300/200" class="card-img-top" alt="">
    </app-panel>

  </div>
  <app-posts></app-posts> 
   <app-users></app-users>  -->
</div>